.blob-code-inner-tweakgithub {
    font-family: sans-serif !important;
    font-size: 11pt;
	font-weight: 300;
}

.cm-content-tweaksourcegraph {
    font-family: sans-serif;
	font-weight: 300;
	line-height: 1.4;
    font-size: 11pt;
}
